{% extends "base.html" %}


{% block content %}
<title>Main</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">



<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Моделирование тела брошенного под углом к горизонту</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <form class="projectile-form mb-5" method="post">
        <h5><b>Характеристики тела</b></h5>
        <label for="speed-form">Начальная скорость</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Начальная скорость" id="speed-form">
          <select class="form-control group-select"  id="speed-units-form">
              <option>м/с</option>
          </select>
        </div>
        <label for="mass-form">Масса</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Масса" id="mass-form">
          <select class="form-control group-select"  id="mass-units-form">
              <option>кг</option>
          </select>
        </div>
        <label for="substance-form">Вещество тела</label>
        <div class="input-group mb-3">
          <select class="form-control"  id="substance-form">
              <option>Литий</option>
          </select>
        </div>
        <label for="angle-form">Угол запуска</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Угол" id="angle-form">
          <select class="form-control group-select"  id="angle-units-form">
              <option>градусы</option>
          </select>
        </div>
        <label for="height-form">Начальная высота</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Высота" id="height-form">
          <span class="input-group-text">Метры</span>
        </div>
      </form>
      <form class="system-form mb-5" method="post">
        <h5><b>Характеристики системы</b></h5>
        <label for="planet-form">Планета</label>
        <div class="input-group mb-3">
          <select class="form-control"  id="planet-form">
              <option>Земля</option>
          </select>
        </div>
        <label for="air-form">Воздушная среда</label>
        <div class="input-group mb-3">
          <select class="form-control"  id="air-form">
              <option>Воздух</option>
          </select>
        </div>
        <div class="input-group" role="group">
          <span class="input-group-text">Сопротивление воздуха</span>
          <input type="radio" class="btn-check" name="btnradio" id="air-resistance-off" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="air-resistance-off">OFF</label>

          <input type="radio" class="btn-check" name="btnradio" id="air-resistance-on" autocomplete="off">
          <label class="btn btn-outline-success" for="air-resistance-on">ON</label>
        </div>
      </form>
      <button type="submit" class="btn btn-success">Добавить график</button>
      <button type="submit" class="btn btn-danger">Очистить все</button>
    </div>
    <div class="col-8">
      <div id="chart" class="chart"></div>
    </div>
  </div>
  <div class="row">
    <h3>Таблицы графиков</h3>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Скорость</th>
            <th scope="col">Масса</th>
            <th scope="col">Вещество</th>
            <th scope="col">Угол</th>
            <th scope="col">Высота</th>

          </tr>
        </thead>
        <tbody>
        {% for item in projectiles %}
          <tr>
            <th scope="row">{{item["num"]}}</th>
            <th>{{item["speed"]}}</th>
            <th>{{item["mass"]}}</th>
            <th>{{item["substance"]}}</th>
            <th>{{item["angle"]}}</th>
            <th>{{item["height"]}}</th>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Планета</th>
            <th scope="col">Воздух</th>
            <th scope="col">Сопротивление</th>
            <th scope="col">Шаг вычислений</th>
          </tr>
        </thead>
        <tbody>
        {% for item in projectiles %}
          <tr>
            <th scope="row">{{item["num"]}}</th>
            <th>{{item["planet"]}}</th>
            <th>{{item["air"]}}</th>
            <th>{{item["resistance"]}}</th>
            <th>{{item["step"]}}</th>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>




<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
{% endblock %}