{% extends "base.html" %}


{% block content %}
<title>Main</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Моделирование тела брошенного под углом к горизонту</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <form class="projectile-form mb-5" method="post">
        <h5><b>Характеристики тела</b></h5>
        <label for="speed-form">Начальная скорость</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Начальная скорость" id="speed-form" oninput="return check_number(this);">
          <select class="form-control group-select"  id="speed-units-form">
            <option>м/с</option>
            <option>км/ч</option>
            <option>мил/ч</option>
            <option>ярд/с</option>
          </select>
        </div>
        <label for="mass-form">Масса</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Масса" id="mass-form" oninput="return check_number(this);">
          <select class="form-control group-select"  id="mass-units-form">
            <option>кг</option>
            <option>г</option>
            <option>тонн</option>
            <option>фунт</option>
          </select>
        </div>
        <label for="substance-form">Вещество тела</label>
        <div class="input-group mb-3">
          <select class="form-control"  id="substance-form">
            <option>Литий</option>
            <option>Натрий</option>
            <option>Бериллий</option>
            <option>Алюминий</option>
            <option>Германий</option>
            <option>Хром</option>
            <option>Железо</option>
            <option>Медь</option>
            <option>Серебро</option>
            <option>Свинец</option>
            <option>Палладий</option>
            <option>Уран</option>
            <option>Золото</option>
            <option>Платина</option>
            <option>Иридий</option>
          </select>
        </div>
        <label for="angle-form">Угол запуска</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Угол" id="angle-form" oninput="return check_number(this);">
          <select class="form-control group-select"  id="angle-units-form">
            <option>град</option>
            <option>рад</option>
            <option>мин</option>
            <option>сек</option>
          </select>
        </div>
        <label for="height-form">Начальная высота</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Высота" id="height-form" oninput="return check_number(this);">
          <span class="input-group-text">Метры</span>
        </div>
      </form>
      <form class="system-form mb-5" method="post">
        <h5><b>Характеристики системы</b></h5>
        <label for="planet-form">Планета</label>
        <div class="input-group mb-3">
          <select class="form-control"  id="planet-form">
            <option>Плутон</option>
            <option>Эрида</option>
            <option>Луна</option>
            <option>Меркурий</option>
            <option>Марс</option>
            <option>Уран</option>
            <option>Венера</option>
            <option>Земля</option>
            <option>Сатурн</option>
            <option>Нептун</option>
            <option>Юпитер</option>
          </select>
        </div>
        <label for="air-form">Воздушная среда</label>
        <div class="input-group mb-3">
          <select class="form-control"  id="air-form">
            <option>Водород</option>
            <option>Гелий</option>
            <option>Метан</option>
            <option>Аммиак</option>
            <option>Воздух</option>
            <option>Аргон</option>
            <option>Углекислый газ</option>
            <option>Хлор</option>
            <option>Криптон</option>
            <option>Ксенон</option>
            <option>Радон</option>
            <option>Гексафторид вольфрама</option>
          </select>
        </div>
        <label for="calc-step-form">Шаг вычислений</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Шаг вычислений" id="calc-step-form" oninput="return check_number(this);">
          <span class="input-group-text">Секунды</span>
        </div>
        <div class="input-group" role="group">
          <span class="input-group-text">Сопротивление воздуха</span>
          <input type="radio" class="btn-check" name="btnradio" id="air-resistance-off" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="air-resistance-off">OFF</label>

          <input type="radio" class="btn-check" name="btnradio" id="air-resistance-on" autocomplete="off">
          <label class="btn btn-outline-success" for="air-resistance-on">ON</label>
        </div>
      </form>
      <button type="submit" class="btn btn-success" id="addbtn">Добавить график</button>
      <button type="submit" class="btn btn-danger" id="clearbtn">Очистить все</button>
    </div>
    <div class="col-8">
      <div id="chart" class="chart"></div>
    </div>
  </div>
  <div class="row">
    <h3>Таблицы графиков</h3>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Скорость</th>
            <th scope="col">Масса</th>
            <th scope="col">Вещество</th>
            <th scope="col">Угол</th>
            <th scope="col">Высота</th>
          </tr>
        </thead>
        <tbody>
        {% for item in projectiles %}
          <tr>
            <th scope="row">{{item["num"]}}</th>
            <th>{{item["speed"]}}</th>
            <th>{{item["mass"]}}</th>
            <th>{{item["substance"]}}</th>
            <th>{{item["angle"]}}</th>
            <th>{{item["height"]}}</th>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Планета</th>
            <th scope="col">Воздух</th>
            <th scope="col">Сопротивление</th>
            <th scope="col">Шаг вычислений</th>
          </tr>
        </thead>
        <tbody>
        {% for item in projectiles %}
          <tr>
            <th scope="row">{{item["num"]}}</th>
            <th>{{item["planet"]}}</th>
            <th>{{item["air"]}}</th>
            <th>{{item["resistance"]}}</th>
            <th>{{item["step"]}}</th>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>




<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
<script src="{{url_for('static', filename='js/input-number-check.js')}}"></script>
<script src="{{url_for('static', filename='js/get-input-values.js')}}"></script>
<script src="{{url_for('static', filename='js/send-data.js')}}"></script>
{% endblock %}