{% extends "base.html" %}


{% block content %}
    <title>Физические константы</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/physical_values.css')}}">
    <main class="container">
        <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Воздушная среда</th>
                    <th scope="col">Плотность</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in data['AIR_ENVIRONMENTS']%}
                  <tr>
                    <th scope="row">{{data['AIR_ENVIRONMENTS'][item]["_id"]}}</th>
                    <th>{{data['AIR_ENVIRONMENTS'][item]["air"]}}</th>
                    <th>{{data['AIR_ENVIRONMENTS'][item]["density"]}} кг/м3</th>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Материал</th>
                    <th scope="col">Плотность</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in data['MATERIAL_DENSITY']%}
                  <tr>
                    <th scope="row">{{data['MATERIAL_DENSITY'][item]["_id"]}}</th>
                    <th>{{data['MATERIAL_DENSITY'][item]["material"]}}</th>
                    <th>{{data['MATERIAL_DENSITY'][item]["density"]}} кг/м3</th>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Планета</th>
                    <th scope="col">Ускорение свободного падения</th>
                  </tr>
                </thead>
                <tbody>
                 {% for item in data['PLANETS']%}
                  <tr>
                    <th scope="row">{{data['PLANETS'][item]["_id"]}}</th>
                    <th>{{data['PLANETS'][item]["planet"]}}</th>
                    <th>{{data['PLANETS'][item]["acceleration"]}} м/с2</th>
                  </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}